.wrapper {
  max-width: 767px;
  width: 96%;
  margin: 0 auto;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.container {
  width: 100%;
  background-color: transparent;
  padding: 30px 30px 50px;
  border-radius: 10px;
  box-shadow: 0 20px 30px rgba(0, 0, 0, 0.2);
}

.container * {
  font-family: sans-serif;
  color: white;
  font-weight: 500;
}

.container h2 {
  margin-bottom: 25px;
  font-size: 33px;
  text-align: center;
  font-weight: bold;
  letter-spacing: 2px;
  color: white;
}

.content {
  width: 100%;
  display: flex;
  justify-content: space-between;
  margin-bottom: 10px;
}

.bar {
  position: relative;
  border: 2px solid #0d96e0;
  border-radius: 20px;
}

.bar div {
  position: relative;
  width: 0;
  height: 9px;
  border-radius: 10px;
  background-color: #0d96e0;
}

.skills:not(:last-child) {
  margin-bottom: 30px;
}

#html-bar {
  animation: html-fill 2s forwards;
}
@keyframes html-fill {
  100% {
    width: 90%;
    background-color: orange;
  }
}

#css-bar {
  animation: css-fill 2s forwards;
}
@keyframes css-fill {
  100% {
    width: 90%;
  }
}

#Java-bar {
  animation: java-fill 2s forwards;
}
@keyframes java-fill {
  100% {
    width: 60%;
    background-color: darkblue;
  }
}

#C-bar {
  animation: c-fill 2s forwards;
}
@keyframes c-fill {
  100% {
    width: 70%;
    background-color: darkviolet;
  }
}

#Javascript-bar {
  animation: Javascript-fill 2s forwards;
}
@keyframes Javascript-fill {
  100% {
    width: 60%;
    background-color: yellow;
  }
}
