@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600&family=Outfit:wght@100;300;400;500&display=swap');

*,
*::before,
*::after {
  box-sizing: border-box;
  margin: 0;
  padding: 0;
}

body {
  font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  width: 100%;
  min-height: 100vh;
  color: #ffffff;
  background: #0e1b31;
  background-size: 500% 500%;
  background-repeat: no-repeat;
  position: relative;
  animation: change 10s ease-in-out infinite;
  object-fit: contain;
  overflow-x: hidden;
  overflow-y: auto;
}

ul {
  list-style-type: none;
}

a {
  text-decoration: none;
  color: unset;
}

.menu-active {
  overflow: hidden;
}
